.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:85px;
    width:100vw;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat;
    border-style: solid ;
    border-color: #EBEBEB;

    border-width: 1px;
}

.logo{
    margin:10px;
}

.option-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right:30px;

}

.op{
    font-family:Arial, Helvetica, sans-serif;
    font: normal normal medium 17px/21px Apercu Pro;
    color:#1A1B1E;
    margin-left:20px;
    font-weight: bold;
    font-size: 17px;

}

.options{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}


.dropdown{
    margin-left:10px;
    border-style: solid;
    border-color: blue;
    border-radius: 20px;
    border-width:2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:40px;
}





 .support-btn{
    border-style: none;
    background-color: transparent;

 }